* {
    background-color: beige;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
}

.boton_estudiante5{
    position: relative;    
    height: 60px;
    width: 200px;
    border-radius: 4px;
    text-transform: uppercase;
    color: aqua;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    border: 7px solid aqua;
    border-style: groove;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
}
.but_img{
    position: relative;    
    height: 60px;
    width: 250px;
    border-radius: 4px;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    transition: all 200ms ease-in-out;
    border: 2px solid black;
    border-style: groove;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
}